.slide {
    height: 100vh;
}

.overlay {
    color: white;
    padding-left: 15rem;
    padding-right: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-width: 40%;
    min-height: 200px;
    background-color: 000000e3 !important;
}

.hero-title {
    color: white;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.hero-content {
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.hero-button {
    background-color: #ea3434;
    color: white;
    font-weight: 600;
    padding: 10px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.swiper-button-next,
.swiper-button-prev {
    color: #ec5252 !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: #ff0000;

}
